<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}
        {{ else }}
            {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favic1.jpg">
</head>

<body>

<header>
    <nav>
        <a href="/">STRMCROWN</a>

        {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </nav>
</header>

<main>
    {{ block "main" . }}{{ end }}
</main>

<footer>
    <p>
        © {{ now.Year }} Victor Savostyanov
    </p>
</footer>

</body>
</html>