{{ define "main" }}
<article class="list-page">
  <h1>{{ .Title }}</h1>

  {{ with .Content }}
  <div class="section-description">
    {{ . }}
  </div>
  {{ end }}

  {{ if gt (len .RegularPages) 0 }}
    <ul class="post-list">
      {{ range .RegularPages.ByDate.Reverse }}
      <li class="post-item">
        <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <div class="post-meta">
          {{ .Date.Format "02.01.2006" }}
        </div>
      </li>
      {{ end }}
    </ul>
  {{ else }}
    <div class="empty-state">
      Тут пока пусто.
    </div>
  {{ end }}

</article>
{{ end }}