{{ define "main" }}

<section class="hero">

    <img
        src="/favic1.jpg"
        alt="Виктор Савостьянов"
        class="avatar"
    >

    <div class="hero-content">

        <h1></h1>

        <p class="subtitle">
            Development · AI · Data Science · Open Source
        </p>

        <p>
            Создаю локальные ИИ-системы, NLP-пайплайны и программные проекты.
        </p>

        <p>
            Пишу о программировании, машинном обучении,
            науке и технических экспериментах.
        </p>

    </div>

</section>

<section>

    {{ .Content }}

</section>

<section>

    <h2>Последние записи</h2>

    <ul class="post-list">

        {{ range first 20 (.Site.RegularPages.ByDate.Reverse) }}

        <li>

            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>

            <div class="post-date">

{{ .Date.Format "02 Jan 2006" }}

·

{{ .ReadingTime }} мин

            </div>

        </li>

        {{ end }}

    </ul>

</section>

{{ end }}